.Notes {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .Notes {
    margin-top: 30px;
  }
}

.NoteText {
  line-height: 1.2em;
  height: 3.6em;
}

.CardLink {
  color: inherit;
  text-decoration: none;
}

.CardLink:hover {
  color: inherit;
}

@media (max-width: 575px) {
  .ColumnXS {
    flex-direction: column;
  }
}
